chameleon/.ipynb_checkpoints/
chameleon/__pycache__/
chameleon/args/.ipynb_checkpoints/
chameleon/kernel_meta/
chameleon/output/
chameleon/wandb/
data/
qwen_vl/.ipynb_checkpoints/
qwen_vl/__pycache__/
qwen_vl/args/.ipynb_checkpoints/
qwen_vl/kernel_meta/
qwen_vl/output/
qwen_vl/wandb/
*.txt
*/*.txt
*./*/*.txt
*.log
*/*.log
*./*/*.log
